
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" id="modal">
        Configurações
    </button>
    
    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Configurações rápidas</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div>
                        <div>
                            <label for="togg-1" class="togg-label">
                                <span>Notificações</span>
                                <input type="checkbox" id="togg-1" class="notification">
                                <div class="toggle-container">
                                    <span class="toggle"></span>
                                    <span class="toggle-c"></span>
                                </div>
                            </label>
                        </div>
                        <div>
                            <label for="togg-2" class="togg-label">
                                <span>Receber Emails</span>
                                <input type="checkbox" id="togg-2">
                                <div class="toggle-container">
                                    <span class="toggle"></span>
                                    <span class="toggle-c"></span>
                                </div>
                            </label>
                        </div>
                        <div>
                            <label for="togg-3">
                                <span>Alterar Senha:</span>
                                <input type="text" id="togg-3">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
            
            </div>
        </div>
        </div>
    </div>
</body>
