*{
    outline: none;
}

#modal{
    display: flex;
    margin-left: 300px;
    margin-top: 300px;
}

#change{
    position: absolute;
    height:5.3%;
    width: 5.3%;
    padding: .7%;
    margin-left:24%;
    border-radius: 50%;
    background-color: rgb(218, 216, 216);
  
}


#togg-1{
    display: block;
    box-sizing: border-box;
    background: none;
    color: #3498db;
    margin-bottom: 30px;
    padding: 4px;
    width: 220px;
    height: 32px;
    border: none; 
    border-bottom: 1px solid #0082e6;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;
}

#togg-1:focus{
    border-bottom: 2px solid #3498db;
    border-bottom-right-radius:19px;
    color: #3498db;
    transition: 0.2s ease;
}

.btn-secondary{
    background-color: red;
}

.btn-secondary:hover{
    background-color: rgb(216, 56, 56);
}

.btn-secondary:hover, .btn-primary:hover{
    transform: scale(1.03);
    transition: 0.3s;
}

#file{
    display: none;
}

#photo{
    display: flex;
    width: 35%;
    box-sizing: border-box;
    margin-bottom: 5%;
    font-size: 20px;
    background-color: #3498db;
    color: white;
    border: 1px solid #3498db;
    padding: 2px 15px;
    border-radius: 5px;
    transition: all 0.3s;
}

#photo:hover{
    background-color: #5baee5;
    color: black;
}

#photo:hover > img{
    transform: scale(1.1);
    transition: 0.3s;
}
