<main>
  <section class="h-100 gradient-form" style="background-color: rgb(255, 255, 255);">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-xl-10">
            <div class="card rounded-3 text-black">
              <div class="row g-0">
                <div class="col-lg-6">
                  <div class="card-body p-md-5 mx-md-4">

                    <div class="text-center">
                      <img src="assets/img/logo/site/logo.gif"
                        style="width: 185px;" alt="logo">
                      <h4 class="mt-1 mb-5 pb-1">Bem vindo ao BlueParty</h4>
                    </div>

                    <form>
                      <p>Conecte-se em sua conta</p>

                      <div class="form-outline mb-4">
                        <input type="email" id="loginField" class="form-control"
                          placeholder="Email ou Telefone" />
                      </div>

                      <div class="form-outline mb-4">
                        <input type="password" id="passwordField" class="form-control" placeholder="Senha"/>
                      </div>

                      <div class="text-center pt-1 mb-2 pb-1">
                        <button class="btn btn-success btn-block fa-lg mb-1" type="button" id="loginButton" routerLink="/cadastro-evento">Conectar</button>
                        <br>
                        <a class="text" routerLink="/forget-password">Esqueceu a senha?</a>
                      </div>

                      <div class="d-flex align-items-center justify-content-center pb-4">
                        <p class="mb-0 me-2"><a routerLink="/register">Não possui uma conta?</a></p>
                      </div>

                    </form>

                  </div>
                </div>
                <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                  <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                    <h4 class="mb-4">Nossa Missão</h4>
                    <p class="small mb-0">Acreditamos que uma das coisas mais preciosas que  podemos carregar conosco
                      durante nossas vidas são as experiêncais que criamos e com quem decidimos
                      construir nossas histórias. A plataforma nasceu deste desejo, conectando pessoas
                      á experiências. </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
</main>
