<main>
  <section class="h-100 gradient-form" style="background-color: rgb(255, 255, 255);">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-xl-10">
            <div class="card rounded-3 text-black">
              <div class="row g-0">
                <div class="col-lg-6">
                  <div class="card-body p-md-5 mx-md-4">

                    <div class="text-center">
                      <img src="assets/img/logo/site/logo.gif"
                        style="width: 185px;" alt="logo">
                      <h4 class="mt-1 mb-3 pb-1">Bem vindo ao BlueParty</h4>
                    </div>

                    <form>
                      <div
                        class="d-none alert alert-dismissible fade alert-login"
                        role="alert">
                      </div>
                      <h5 class="text-center mb-2">Conecte-se em sua conta</h5>
                      <div class="form-outline mb-3">
                        <input type="email" id="loginField" class="form-control"
                          placeholder="Usuário" />
                      </div>

                      <div class="form-outline mb-1">
                        <input type="password" id="passwordField" class="form-control" placeholder="Senha"/>
                      </div>
                      <div class="d-flex align-items-center justify-content-center mb-4">
                        <a class="ms-auto" style="color: black;" data-bs-target="#forgotPasswordModal" data-bs-toggle="modal">Esqueceu a senha?</a>
                      </div>
                      <div class="d-grid gap-2 col-6 mx-auto">
                        <button class="btn btn-primary btn-lg mb-3" type="button" id="loginButton" (click)="conectarUsuario()"><i class="fa fa-sign-in" aria-hidden="true"></i> Conectar</button>
                      </div>

                      <div class="d-flex align-items-center justify-content-center">
                        <span class="mb-0 me-2">Novo na BlueParty? <a class="cadastro-link" routerLink="/register">CADASTRA-SE</a></span>
                      </div>

                    </form>

                  </div>
                </div>
                <div class="col-lg-6 d-flex align-items-center gradient-custom-2 rounded">
                  <div class="px-3 py-4 p-md-5 mx-md-4">
                    <h4 class="mb-4">Nossa Missão</h4>
                    <p>Acreditamos que uma das coisas mais preciosas que  podemos carregar conosco
                      durante nossas vidas são as experiêncais que criamos e com quem decidimos
                      construir nossas histórias. A plataforma nasceu deste desejo, conectando pessoas
                      á experiências. </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
</main>
<!-- Modal -->
<div class="modal fade" id="forgotPasswordModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="forgotPasswordModal">Esqueceu a sua senha?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <label for="emailForgot" class="mb-2">Informe seu email ou usuário de cadastro:</label>
        <input type="text" name="requestEmail" id="emailForgot" class="border border-dark rounded w-100 ps-2" style="height: 45px;" placeholder="Email ou Usuário">
        <div class="mt-3 d-flex justify-content-center">
          <button type="button" class="buttonForgotRequest">Enviar</button>
        </div>
      </div>
    </div>
  </div>
</div>
