
<header>
  <div class="container">
    <div class="row align-content-center">
        <div class="row" id="about-us">
            <h1>SOBRE NÓS</h1>
            <div class="text__light text__regular-small" id="texto">
              <p>
                Somos apaixonados por festas e impulsionados pela diversão. Nós sonhamos e nos esforçamos para criar eventos onde possamos proporcionar alegria e momentos inesquecíveis. Estamos sempre em busca de realizar experiências incríveis, para que vocês possam aproveitar o máximo possível de nossos eventos.
              </p>
            </div>
        </div>
      </div>
      
    </div>
    
</header>

  <div class="row">
    <div class="col-12 mt-5">

      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100 border-0">
            <div class="card-body">
              <h5 class="card-title">MISSÃO</h5>
              <p class="card-text">Acreditamos que uma das coisas mais preciosas que  podemos carregar conosco 
                durante nossas vidas são as experiêncais que criamos e com quem decidimos 
                construir nossas histórias. A plataforma nasceu deste desejo, conectando pessoas
                á experiências.</p>
            </div>
            <img src="/assets/img/logo/site/missao.jpeg" class="card-img-top" alt="...">
          </div>
        </div>
        <div class="col">
          <div class="card h-100 border-0">
            <div class="card-body">
              <h5 class="card-title">VISÃO</h5>
              <p class="card-text">Usando tecnologia e segurança digital, oferecemos um ótimo serviço para nossos 
                clientes fazendo o que mais desejamos: conectar pessoas a histórias. 
                Antigamente, comprar um ingresso era difícil e burocrático. Nós com a tecnologia e
                segurança, democratizamos o acesso aos ingressos de uma maneira totalmente digital, 
                garantindo qualidade e segurança e um acesso rápido e fácil.</p>
              </div>
              <img src="/assets/img/logo/site/visao.jpeg" class="card-img-top" alt="...">
          </div>
        </div>
        <div class="col">
          <div class="card h-100 border-0">
            <div class="card-body">
              <h5 class="card-title">VALORES</h5>
              <p class="card-text">Somos desbravadores do mundo digital. Acreditamos que com qualidade e exelência, 
                podemos agir cada vez melhor proporcionando experiêcias incríveis para nossos clientes.
                Sempre com honestidade e segurança, este são nossos pilares para um bom convívio em 
                sociedade. Sendo assim, desejamos sempre conectar pessoas à experiências e criando 
                memórias!
              </p>
            </div>
            <img src="/assets/img/logo/site/valores.jpeg" class="card-img-top" alt="...">
          </div>
        </div>
      </div>
  </div>
  </div>
