  /* Additional styling */
    
  body {
    font-size: 18px;
    font-family: "Vibur", sans-serif;
    background-color: #010a01;
  }  
  
  h1, h2 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
  }
    
  h1 {
      font-size: 4.2rem;
  }
    
  h2 {
      font-size: 1.8rem;
  }
  
  .container {
    margin-top: 20vh;
  }