<form action="" class="row g-3">
    <div class="col-md-6">
        <label for="inputNome" class="form-label">Nome</label>
        <input type="text" class="form-control" id="inputNome" required>
    </div>
    <div class="col-md-6">
        <label for="inputEmail" class="form-label">Email</label>
        <input type="email" class="form-control" id="inputEmail" required>
    </div>
    <div class="col-md-6">
        <label for="inputTelefone" class="form-label">Telefone</label>
        <input type="text" class="form-control" id="inputTelefone">
    </div>
    <div class="col-md-6">
        <label for="inputAssunto" class="form-label">Assunto</label>
        <select class="form-select" aria-label="Default select example" id="inputAssunto" required>
            <option selected>Selecione o assunto</option>
            <option value="1">Ajuda</option>
            <option value="2">Sugestão</option>
            <option value="3">Reclamação</option>
            <option value="4">Outros</option>
        </select>
    </div>
    <div class="col-12">
        <label for="inputMensagem" class="form-label">Mensagem</label>
        <textarea class="form-control" id="inputMensagem" rows="3" required></textarea>
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
</form>