<div class="container mt-3 rounded">
  <form>
    <div class="row">
      <div class="col me-2">
        <h3 class="title">Endereço de Cobrança</h3>
        <div class="inputBox">
          <span>Nome Completo :</span>
          <input type="text" placeholder="João Silva">
        </div>
        <div class="inputBox">
          <span>Email :</span>
          <input type="email" placeholder="example@example.com">
        </div>
        <div class="inputBox">
          <span>Endereço :</span>
          <input type="text" placeholder="Rua Itapura">
        </div>
        <div class="inputBox">
          <span>Cidade :</span>
          <input type="text" placeholder="São Paulo">
        </div>
        <div class="flex">
          <div class="inputBox">
            <span>Estado :</span>
            <input type="text" placeholder="São Paulo">
          </div>
          <div class="inputBox">
            <span>CEP :</span>
            <input type="text" placeholder="00000-000">
          </div>
        </div>
      </div>
      <div class="col">
        <h3 class="title">Forma de Pagamento</h3>
          <div class="inputBox">
            <span>Formas de Pagamento aceitas :</span>
            <img src="/assets/img/logo/site/card_img.png" alt="">
          </div>
          <div class="inputBox">
            <span>Nome do Titular :</span>
            <input type="text" placeholder="João Silva">
          </div>
          <div class="inputBox">
            <span>Número do Cartão:</span>
            <input type="number" placeholder="1111-2222-3333-4444">
          </div>
          <div class="inputBox">
            <span>Mês de validade :</span>
            <input type="text" placeholder="Janeiro">
          </div>
          <div class="flex">
            <div class="inputBox">
              <span>Ano de validade :</span>
              <input type="number" placeholder="2022">
            </div>
            <div class="inputBox">
              <span>CVV :</span>
              <input type="text" placeholder="123">
            </div>
          </div>
        </div>
      </div>
      <input type="button" value="Finalizar Compra" class="submit-btn rounded" data-bs-toggle="modal" data-bs-target="#successModal">
  </form>
</div>
