<footer>
  <hr class="border border-dark border-1 opacity-75 w-100 position-relative start-50 translate-middle mt-3 mb-4">
  <div class="container">
    <div class="row text-center">
      <div class="col-4">
        <h4>BlueParty</h4>
        <p>BlueParty é uma plataforma de eventos online, onde você pode encontrar eventos de todos os tipos, desde festas até palestras.</p>
      </div>
      <div class="col-4 border-start border-end border-2">
        <h4>Site</h4>
        <a routerLink="/">Todos os Eventos</a>
        <br>
        <a routerLink="/sobre-nos">Sobre Nós</a>
        <br>
        <a routerLink="/contato">Contato</a>
        <br>
        <a routerLink="/login">Cadastro/Login</a>
      </div>
      <div class="col-4">
        <h4>Informações</h4>
        <p>Horário de atendimento:<br>
          09:00 às 21:00 - Segunda a Sábado,<br>
          (Exceto domingo e feriados, em São Paulo-SP)<br>
          Central SAC: (11) 1111-2222<br>
          E-mail: faleconosco@blueparty.com.br</p>
      </div>
    </div>
  </div>
  <hr class="border border-dark border-1 opacity-75 w-100 position-relative start-50 translate-middle mt-3 mb-4">
  <p class="text-center">Todos os direitos reservados. 2022 &copy; BlueParty</p>
</footer>
